
.new-offer-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;

}

.new-offer-form > * {
    width: 300px;
}

.filed-container-left {

} 

.filed-container-right {

} 


button:hover {
    background-color: #ff8c00;
}
