.login {
    width: 50%;
    margin: 0 auto;
    /* For visibility */
    border: 2px solid rgba(156, 154, 161, 1);
    padding: 0.5em;
}

.login-form {
    width: 50%;
    margin: 0 auto;
}



input[type="text"],
input[type="email"],
input[type="password"],
select {
    /* width: 100%; */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

