.my-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}


.my-offers-title {
  margin: 0.5em 0 1em 0;
  font-size: 24px;
}