/* Style for the entire section */
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-form {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    position: relative;
  }
  
  .form-input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Style for the submit button */
  .submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  /* Style for the content container */
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Style for the no matches message */
  .no-matches-message {
    color: red;
    font-size: 18px;
  }
  

.form-first-half {
  width: 50%;
}


.form-second-half {
  width: 50%;
}

.controllers {
  display: flex;
  position: absolute;
  gap: 4em;
  bottom: 0;
  justify-content: space-around;

  margin-bottom: 1em;
  left: 77%;
  transform: translateX(-50%);

  button {
    width: 90px;
  }
}