<main>

    <section id="catalog">
        <h1>All posts</h1>
        <div class="band">

            {{#if animals}}

            {{#each animals}}
            {{> animalCard}}
            {{/each}}

            {{else}}
            <div class="no-posts">
                <p class="no-offer">There are no posts yet...</p>
            </div>
            {{/if}}
        </div>
    </section>
</main>